@font-face {
  font-family: "NotoSansJP";
  src: url("NotoSansJP-DemiLight.otf");
  }

body{
  font-family: "NotoSansJP",Verdana,Arial;
  font-size:14px;
  }

.contents{
  margin-left: 13%;
  padding: 1px 16px;
}

.navbar{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 13%;
  background-color: #cccccc;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.navbar li a {
  display: block;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}

.navbar li a.active{
  background-color: #336666;
  color: #cccccc;
}

.navbar li a:hover:not(.active){
  background-color: #336666;
  color: #cccccc;
}

#header{
  margin-bottom:15px;
  border-bottom: 1px solid #cccccc;
  }

#footer{
  font-size:12px;
  color:#cccccc;
  text-align:center;
  border-top:1px solid #cccccc;
  padding:10px 0 20px;
  }

h2,h3{
  font-size:bold;
  }

h2{
  font-size:16px;
  border-left:5px solid #cccccc;
  padding:3px 0 3px 10px;
  margin-bottom:10px;
  }

h3{
  border-bottom:1px solid #cccccc;
  padding:3px 0;
  margin-bottom:10px;
  }

p{
  margin-bottom:14px;
}
